/* You can add global styles to this file, and also import other style files */
.nav-tabs {
    --bs-nav-tabs-border-width: 0px;
}

body{
    background-color: rgb(169, 164, 164);
    color: rgb(132, 86, 86);
}